{% extends "base.html" %}

{% block content %}
<style>
    *{
        text-align: center;
        font-size: 50px;
    }
</style>

<h1>Uloguj se</h1>

<form action="" method="post" novalidate>
    {{ form.hidden_tag() }}
    <p>
        {{ form.username.label }}<br>
        {{ form.username }}
        {% for error in form.username.errors %}
        {% if error == 'This field is required.' %}
        <span style="color: red;">Ovo polje je obavezno</span>    
        {% else %}
        <span style="color: red;">[{{ error }}]</span>
        {% endif %}
        {% endfor %}
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password }}
        {% for error in form.password.errors %}
        {% if error == 'This field is required.' %}
        <span style="color: red;">Ovo polje je obavezno</span>    
        {% else %}
        <span style="color: red;">[{{ error }}]</span>
        {% endif %}
        {% endfor %}
    </p>
    <p>{{ form.remember_me() }} {{ form.remember_me.label }}</p>
    <p>
        {{ form.submit() }}
    </p>
</form>

{% endblock %}